<!DOCTYPE html>
<html>
    <head>
        <title>Answer</title>
    </head>
    <body>
        <h1>Postal Rate</h1>
        <p>
            <%= weight %> <%= type %> = <%= rate %>
        </p>
    </body>
</html>