<!DOCTYPE html>
<html>
    <head>
        <title>Answer</title>
    </head>
    <body>
        <h1>Postal Rate</h1>
        <p>
            for <%= type %> <%= weight %> oz. is <%= rate %>
        </p>
    </body>
</html>